[Unit]
Description=App API

[Service]
WorkingDirectory=/usr/bin/appapi/
Type=simple
ExecStart=/usr/bin/appapi/RESTApi --URLS=http://0.0.0.0:8080
SyslogIdentifier=appapi
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=app_ConnectorType=mysql
Environment=app_MySQL_Host=domain.com
Environment=app_MySQL_Port=3306
Environment=app_MySQL_Catalog=appcatalog
Environment=app_MySQL_UserID=appuser
Environment=app_MySQL_Password=apppassword


[Install]
WantedBy=multi-user.target
